.menu {
    @include flex-image(100vh,"./img/IMG_5715.JPG");
    background-color: #FFF;
    padding-top: 39vh;
    text-align: center;
    color:$secondary-color;
    &-name {
        color:$hover-color;
        font-weight: 600;
        font-size: 2rem;
    }
    h2{
        width: 90%;
        margin: 0 auto;
    }
}

