@include media-xs {
    .menu {
        background-size:contain;
    }
    .about_me-list .personal_container{
        &-info {
            width: 70%;
            p{
                @include flex-all(row,nowrap,center,space-between);
                height: initial;
            }
        }
    }
    .projects{
        &-items-item{
            height: 255px;
            .item-content{
                .tag{
                    align-self: flex-end;
                    right: 10px;
                }
                .btns {
                    margin-top: .5rem;
                }
                svg {
                    margin-top: .5rem;
                    font-size: 3.6rem;
                    }
            }
        }
    }    
}
@include media-md {
    .burger-btn{
        visibility: hidden;
    }
    .navbar {
        display: block;
        transform: translateY(0);
        background: transparent;
        font-size: 1.3rem;
        visibility: hidden;
        height: 0;
        position: absolute;
        z-index: 2;
        .nav_list{
            @include flex-all(row,nowrap,center,flex-end);
            height: initial;
            visibility: visible;
            &-item{
                padding: .9rem 1.5rem;
                transform: translateX(0);
            }
        }
    }
    .menu {
        padding-top: 45vh;
    }
    .about_me {
        &-image {
            height: 50vh;
        }
        img {
        width: 200px;
        margin: -115px 15px;
        right: initial;
        }
        h1 {
            font-size: 3rem;
        }
    }
    .about_me-list  {
        .details{
            padding:7vw;
            .bio {
                line-height: 29px;
            }
            .social-icons {
                text-align: end;
                 position: absolute;
                left: 0;
            }
        }
        .exp-educ{
            flex-flow: row nowrap;
            align-items: flex-start;
           .experience-line{
                margin: .7rem 7.4vw;
            }
        }
    }
    .about_me-list .personal_container-info{
            width:50%;
        }
    .projects {
        &-image {
            height: 50vh;
            h1 {
                font-size: 3rem;
            }
        }
        &-items{
            @include flex-all(row,wrap,center,space-evenly); 
            .item-content {
                padding: 0 1rem;
                .tag{
                    margin-right:0;
                    font-size: .85rem;
                    &-icon{
                        font-size: .9rem;
                    }
                }
                svg {
                    font-size: 4rem;
                    }
                .btns .btn-icon {
                        font-size: 1.4rem;
                    }
                }
            &-item{
                flex: 0 0 42%;
                height: 240px;
            }
        }   
        }
}
@include media-lg {
    .navbar {
        font-size: 1.5rem;
    }
    .menu {
        font-size: 1.2rem;
        background-position-x: 70%;
        .social-icons {
            font-size: 2.2rem;
        }
        &-name {
            font-size: 2.3rem;
        }
    }
    .about_me{
        font-size: 1.25rem;
     h1 {
            font-size: 3.3rem;
        }
    .details {
        padding:7vw 9vw;
        .social-icons {
            font-size: 2.2rem;
             }
        }   
     img {
        width: 270px;
        margin: -130px 20px;
        }
    }
    .projects {
        &-items{
            &-item{
                height: 300px;
            }
            .item-content {
                font-size: 1.2rem;
                .tag{
                    font-size: .9rem;
                    &-icon{
                        font-size: 1rem;
                    }
                }
                svg {
                    font-size: 4.3rem;
                    margin-top: 1.3rem;
                    }
                .btns {
                    margin-top: .7rem;
                    .btn-icon {
                        font-size: 1.5rem;
                    }
                }
                }
        }
        h1 {
            font-size: 3.3rem;
            }    
        .social-icons {
             margin-left: .5rem;
            font-size: 2.3rem;
        }
    }
    
}
@include media-xl{
    body hr {
        height: 3px;
        margin: 1rem 0;
    }
    
    .navbar {
        font-size: 2.1vw;
        .nav_list-item{
                padding: .9rem 1.3vw;
            }
    }
     .menu {
        font-size: 1.2vw;
        .social-icons {
            font-size: 2.7vw;
            a{
                padding: 0.8rem;
            }
        }
        &-name {
            font-size: 2.5vw;
        }
    }
    .about_me{
        font-size: 1.3vw;
        &-image {
            height: 40vh;
        }
        &-list{
            .exp-educ .experience-line{
                margin: 1vw 7.4vw;
            }
            .experience-info{
                svg{
                    left: -.64vw;
                    width: 1vw;
                }
                border-left-width: .25vw;
                .team {
                    line-height: 1.3vw;
                    min-height: 10vh;
                 }
            } 
            .personal_container{
                @include flex-all(row,nowrap,flex-start,space-evenly); 
                padding: 9vh 5.5vw;
                &-info {
                    flex: 0 0 30%;
                    svg {
                        width: 1.7vw;
                    }
                    .info-title{
                        margin: 0 0 4.4rem 0;
                    }
                    .icon {
                        margin-right: .5rem;
                    }
                }
            }
        } 
        img {
            width: 22vw;
            margin: -11vw 4vw;
        }
        .details {
            padding-left: 12vw;
            padding-right: 12vw;
            .experience-line{
                margin: 1vw 12.1vw;
            }
            .bio {
                line-height: 2vw;
            }
            .social-icons {
                 font-size: 2.2vw;
                 padding-right: 3vw;
             }
        }   
         h1 {
            font-size: 4vw;
        }
    }
    .projects{
        &-image {
            height: 40vh;
        }
        h1 {
            font-size: 4vw;
        }
        .social-icons {
            margin-left: .8vw;
            font-size: 2.3vw;
        }
        &-items{
            padding: 1.5vw 1vw;
            &-item {
                height: 32vh;
                border-bottom-width: .3vw;
                flex: 0 0 28%;
                margin: 1.5vw 0;
                .item-content {
                    font-size: 1.4vw;
                    .tag{
                        font-size: 1vw;
                        bottom: .3vw;
                        right: .7vw;
                        &-icon{
                            font-size: 1.1vw;
                        }
                    }
                    svg {
                        font-size: 4.7vw;
                        margin-top: 1vw;
                    }
                    .btns{ 
                        margin-top: 1vw;
                        .btn{
                            padding: 0 1.2vw;
                            &-icon {
                                font-size: 1.7vw;
                            }
                        }                       
                    }
                }             
            }
        } 
    }   
}